<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TiendaGunpla"
        tools:targetApi="31">
        <activity
            android:name=".Montar.Principiante"
            android:exported="false" />
        <activity
            android:name=".Montar.MontarInicio"
            android:exported="false" />
        <activity
            android:name=".inicio.PaginaInicial"
            android:exported="false" />
        <activity
            android:name=".buscador.detalle_producto"
            android:exported="false" />
        <activity
            android:name=".buscador.buscador"
            android:exported="false" />
        <activity
            android:name=".inicio.iniciarSesion"
            android:exported="false" />
        <activity
            android:name=".inicio.crearCuenta"
            android:exported="false" />
        <activity
            android:name=".inicio.MainActivity"
            android:exported="false" />
        <activity
            android:name=".modelos.pgVentana"
            android:exported="false" />
        <activity
            android:name=".modelos.mgVentana"
            android:exported="false" />
        <activity
            android:name=".modelos.rgVentana"
            android:exported="false" />
        <activity
            android:name=".modelos.hgVentana"
            android:exported="false" />
        <activity
            android:name=".modelos.fgVentana"
            android:exported="false" />
        <activity
            android:name=".inicio.Inicio"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>